*{
    font-family:"Roboto", sans-serif;
}
.container{
    margin:40px auto;
    font-weight:bold;
    background-image : linear-gradient(to right,rgb(2,101,231), rgb(49,169,253));
    padding:2rem 2rem 2rem 2rem;
}
.card{
    border:1px solid blue;
    border-radius:10px;
    transition:all .2s;
}
.card:hover{
  
    margin-top:-.1rem;
    margin-bottom:.1rem;
    box-shadow:0 .5rem 1rem rgb(2,101,231);
}
.fa-solid{
    padding:0 7px 0 0;
}
.text-muted{
    font-weight:lighter;
}
.btn{
    background-color: rgb(75,162,255);
    width:92%;
    border:1px solid blue;
    border-radius:20px;
    margin:0 1rem 1rem 1rem;
}
.btn:hover{
    background-color: rgb(0,122,255);
}
h5{
    color:rgb(154,156,159);
    text-align:center;
    padding:1rem 0 1rem 0;
    font-size:medium;
}
h1{
    padding:0 0 1rem 0;
    text-align: center;
}

.list-group-item{
    border-bottom:none;
}